
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #F3E5D8;
    padding: 20px;
    padding-bottom: 0;
}

a {
    text-decoration: none;
}

.bitcook, h1, h2, h3 {
    font-family: DM Serif Display;
}

a, p {
    font-family: "DM Sans", sans-serif;
}

#flex-container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #255538;
    padding: 12px 20px;
    height: 58px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

#mainPage {
    font-size: 24px;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
}

#grid-container {
    display: grid;
    margin: 0 auto;
    max-width: 1239px;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 368px 101px 440px 440px;
    grid-template-areas: 
    "title title title"
    "p p p"
    "recipeA recipeB recipeC"
    "recipeD recipeE recipeF";
    grid-gap: 20px;
}

#title {
    grid-area: title;
    background-image: url(../images/sheri-silver-q5C-_coAZR4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    padding: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    filter: brightness(75%);
    position: relative;
}

main #title h1 {
    font-size: 64px;
    color: #000000;
    filter: brightness(100%);
    position: absolute;
    
}

#separador {
    display: flex;
    grid-area: p;
    flex-direction: row;
    align-items: center;
}

main h2 {
    font-size: 24px;
    color: #7E4333;
    display: flex;
}

.recipes {
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#recipeA {
    grid-area: recipeA;
    
}

main #recipeA a img {
    height: 248px;
    width: 380px;
    object-fit: cover;
    border-radius: 5px;
}

#recipeA a h3 {
    color: #7E4333;
    font-size: 36px;
}

#recipeA a ul {
    color: black;
    font-size: 16px;
    margin-top: 11px;
}

#recipeB {
    grid-area: recipeB;
}

#recipeB a img{
    height: 248px;
    width: 380px;
    object-fit: cover;
    border-radius: 5px;
}
#recipeB a h3 {
    color: #7E4333;
    font-size: 36px;
}

#recipeB a ul {
    color: black;
    font-size: 16px;
    margin-top: 11px;
}

#recipeC {
    grid-area: recipeC;
}

#recipeC a img {
    height: 248px;
    width: 380px;
    object-fit: cover;
    border-radius: 5px;
}

#recipeC a h3 {
    color: #7E4333;
    font-size: 36px;
}

#recipeC a ul {
    color: black;
    font-size: 16px;
    margin-top: 11px;
}
#recipeD {
    grid-area: recipeD;
}

#recipeD a img {
    height: 248px;
    width: 380px;
    object-fit: cover;
    border-radius: 5px;
}

#recipeD a h3 {
    color: #7E4333;
    font-size: 36px;
}

#recipeD a ul {
    color: black;
    font-size: 16px;
    margin-top: 11px;
}

#recipeE {
    grid-area: recipeE;
}

#recipeE a img {
    height: 248px;
    width: 380px;
    object-fit: cover;
    border-radius: 5px;
}

#recipeE a h3 {
    color: #7E4333;
    font-size: 36px;
}

#recipeE a ul {
    color: black;
    font-size: 16px;
    margin-top: 11px;
}

#recipeF {
    grid-area: recipeF;
}

#recipeF a img {
    height: 248px;
    width: 380px;
    object-fit: cover;
    border-radius: 5px;
}

#recipeF a h3 {
    color: #7E4333;
    font-size: 36px;
}

#recipeF a ul {
    color: black;
    font-size: 16px;
    margin-top: 11px;
}

footer {
    background-color: #255538;
    padding: 12px 20px;
    height: 58px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

footer a{
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

footer p {
    font-size: 16px;
    color: #FFFFFF;
    
}



    